/* You can add global styles to this file, and also import other style files */
/* Full-width inputs */
input[type=text], input[type=password], input[type=field] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  #haim{
    border-radius: 50px;
  }
  .container {
    padding: 16px;
    background-color:#f1f1f1
  }


  #login-page {
    background-image: url("./assets/casanet.png");
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:absolute;
    left:0;
    right:0; 
    height: 100%;
    
  }

  /* #login-page .background-image{
    background-size: 30px 30px;
  } */

  #servers-page {
    background-image: url("./assets/casanet.png");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    position:absolute;
    left:0;
    right:0; 
    height: 100%;
  }

  #servers-page img{
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

  .selected {
    background-color: #CFD8DC !important;
    color: white;
  }


  .servers {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 100px;
  }

  #edit-server{
    width: 150px;
    background: darkgreen;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  .servers li {
    cursor: pointer;
    position: relative;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .servers li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .servers li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .Servers .text {
    position: relative;
    top: -3px;
  }
  .servers .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  .servers .status-on{
    background: green;
    border-radius: 50%;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 15px 15px; 
   }

  .servers .status-off{
    background: red;
    border-radius: 50%;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 15px 15px; 
  }

   .delete-button{
    background:  url("./assets/DeleteButton.png");
    background-size: 15px 15px; 
    background-repeat: no-repeat;
    inline-size: min-content;
  }

  .auth-button{
    background:  url("./assets/key.png");
    background-size: 15px 15px; 
    background-repeat: no-repeat;
    inline-size: min-content;
  }


  .form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
  
  }
  .form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
  }
  .form-style-8 input[type="text"],
  .form-style-8 input[type="date"],
  .form-style-8 input[type="datetime"],
  .form-style-8 input[type="email"],
  .form-style-8 input[type="number"],
  .form-style-8 input[type="search"],
  .form-style-8 input[type="time"],
  .form-style-8 input[type="url"],
  .form-style-8 input[type="password"],
  .form-style-8 textarea,
  .form-style-8 select 
  {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
  }
  .form-style-8 textarea{
    resize:none;
    overflow: hidden;
  }
  
  #submit{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .form-style-8 input[type="button"]:hover, 
  .form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
  }

  html, body {
    margin: 0;
    height: 100%;
}

.simple-form {
  display: flex;
  overflow-y: scroll;
  padding-bottom: 1.25rem;
}
.simple-form input {
  margin: 0 .25rem;
  width: 100px;
  height: 15px;
  border: 1px solid #eee;
  border-left: 3px solid;
  border-radius: 5px;
  transition: border-color .5s ease-out;
}