<div id="servers-page">
    <div id="inputServer">
        <button style="width: 300px;" (click)="postNewServer()">Add new server</button>
      </div>
  <ul class="servers">
    <li style="width: 300px;" *ngFor="let server of servers" [class.selected]="server === selectedServer"
      (click)="onSelect(server)">
      <span class="badge" style="margin: auto; width: 40px;"> 
        <span [ngClass]="server.connectionStatus === true ? 'status-on' : 'status-off'">
          &nbsp; &nbsp; &nbsp; </span>
    </span>
      <span style="margin: auto; width: 150px;">    {{server.displayName}}      
         <button class="delete-button" (click)="deleteServerRequest(selectedServer)"></button>
         <button class="auth-button" (click)="authKeyRequest(selectedServer)"></button>
      </span>
    </li>
  </ul>
  <div *ngIf="selectedServer">
    <h2> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{selectedServer.displayName}}</h2>
    <div><span> &nbsp; &nbsp; &nbsp; id: </span>{{selectedServer.localServerId}}</div>
    <div><span> &nbsp; &nbsp; &nbsp; macAddress: </span>{{selectedServer.macAddress}}</div>
    <div>
        <form action="#" class="simple-form">
            <input class="simple-form input" name="Name" [(ngModel)]="selectedServer.displayName" placeholder="Edit Name" >
            <input class="simple-form input" name="Users" [(ngModel)]="selectedServer.validUsers" placeholder="Edit Users" >
          </form>
      &nbsp; &nbsp; &nbsp;
      <button id="edit-server" (click)="editServer(selectedServer)">Edit Server</button>
    </div>
  </div>
</div>