<div id="login-page" style="text-align:center">
    <h1>
        You don't look like a manager!
        Prove it!
    </h1>
    <img id="haim" width="200" height="220" alt="casanet REAL Logo" src="assets/28386247.jpg">
<ul>
    <li>
        <div class="container">
            <ul>
                <li>
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" [(ngModel)]="myLoginReq.email">
                </li>
                <li>
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" [(ngModel)]="myLoginReq.password">
                </li>
                <button (click)="postLoginRequest(myLoginReq)">
                </button>
            </ul>
        </div>
    </li>
</ul>
</div>


<!-- <div class="container">
<ul>
  <li>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" [(ngModel)]="myLoginReq.email">
  </li>
  <li>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [(ngModel)] ="myLoginReq.password">
  </li>
    <button (click)="postLoginRequest(myLoginReq)">
    </button>
</ul>
</div> -->